In [1]:
a=0
for i in range(1,10000):
    if(i%2==0 or i%3==0):
        a+=1
print(a)

6666

In [2]:
x=int(input("x: "))
y=int(input("y: "))
c=1
for i in range(0,y):
    c=x*c
print(c)

x: 2
y: 3
8

In [3]:
t=0
ç=0
for i in range(2,5000):

    if(i%2==0):
        t+=1
    else:
        ç+=1
print("tek adeti: {}\nçift adeti: {}".format(t,ç))

tek adeti: 2499
çift adeti: 2499

In [4]:
x=int(input("x: "))
y=int(input("y: "))
c=0
for i in range(0,x):
    c=y+c
print(c)

x: 2
y: 4
8

In [5]:
for i in range(2,10):
    for j in range(1,100):
        if(i*j<100):
            print("{}-".format(i*j),end='')
    print("\n")

2-4-6-8-10-12-14-16-18-20-22-24-26-28-30-32-34-36-38-40-42-44-46-48-50-52-54-56-58-60-62-64-66-68-70-72-74-76-78-80-82-84-86-88-90-92-94-96-98-

3-6-9-12-15-18-21-24-27-30-33-36-39-42-45-48-51-54-57-60-63-66-69-72-75-78-81-84-87-90-93-96-99-

4-8-12-16-20-24-28-32-36-40-44-48-52-56-60-64-68-72-76-80-84-88-92-96-

5-10-15-20-25-30-35-40-45-50-55-60-65-70-75-80-85-90-95-

6-12-18-24-30-36-42-48-54-60-66-72-78-84-90-96-

7-14-21-28-35-42-49-56-63-70-77-84-91-98-

8-16-24-32-40-48-56-64-72-80-88-96-

9-18-27-36-45-54-63-72-81-90-99-

In [13]:
import random
y=random.randint(1,100)
print(y)
a=0
c=1
while(c<2):
    x = int(input("tahmin: "))
    a+=1
    if(x==y):
        print("{} tahmin sonunda bulundu.".format(a))
        c=3
    else:
        print("bulunamadı.\n")

53
tahmin: 53
1 tahmin sonunda bulundu.

In [17]:
a=0
for i in range(1,101):
    a=(i**i)+a
b=str(a)
print(b[-10:])

9027641920

In [21]:
a=0
b=0
for i in range(1,101):
    a=a+(i**2)
    b+=i
print((b**2)-a)

25164150

In [22]:
for i in range(1,10):
    for j in range(2,6):
        print("{}*{}={}\t".format(j,i,i*j),end='')
    print("\n",end='')
print("\n")
for i in range(1,10):
    for j in range(6,10):
        print("{}*{}={}\t".format(j,i,i*j),end='')
    print("\n", end='')

2*1=2	3*1=3	4*1=4	5*1=5
2*2=4	3*2=6	4*2=8	5*2=10
2*3=6	3*3=9	4*3=12	5*3=15
2*4=8	3*4=12	4*4=16	5*4=20
2*5=10	3*5=15	4*5=20	5*5=25
2*6=12	3*6=18	4*6=24	5*6=30
2*7=14	3*7=21	4*7=28	5*7=35
2*8=16	3*8=24	4*8=32	5*8=40
2*9=18	3*9=27	4*9=36	5*9=45


6*1=6	7*1=7	8*1=8	9*1=9
6*2=12	7*2=14	8*2=16	9*2=18
6*3=18	7*3=21	8*3=24	9*3=27
6*4=24	7*4=28	8*4=32	9*4=36
6*5=30	7*5=35	8*5=40	9*5=45
6*6=36	7*6=42	8*6=48	9*6=54
6*7=42	7*7=49	8*7=56	9*7=63
6*8=48	7*8=56	8*8=64	9*8=72
6*9=54	7*9=63	8*9=72	9*9=81

In [23]:
x=input("3 veya 4 basamaklı sayı giriniz: ")
if(len(x)==4):
    a = int(x[0:1])
    b = int(x[1:2])
    c = int(x[2:3])
    d = int(x[3:4])
    if((a**4)+(b**4)+(c**4)+(d**4)==int(x)):
        print("{} bir Armstrong sayısıdır.".format(x))
    else:
        print("{} bir Armstrong sayısı değildir.".format(x))
elif(len(x)==3):
    a = int(x[0:1])
    b = int(x[1:2])
    c = int(x[2:3])
    if((a**3)+(b**3)+(c**3)==int(x)):
        print("{} bir Armstrong sayısıdır.".format(x))
    else:
        print("{} bir Armstrong sayısı değildir.".format(x))

else:
    print("girdiğiniz sayı 4 basamaklı değildir.")

3 veya 4 basamaklı sayı giriniz: 351
351 bir Armstrong sayısı değildir.

In [24]:
x=int(input("x: "))
y=int(input("y: "))
z=str(x**y)
print("{}^{}={}".format(x,y,z))
c=[]
v=0
for i in range(0,len(z)):
    k=int(z[i:i+1])
    v+=k
print("{}'nin basamakları toplamı: {}".format(z,v))

x: 12
y: 2
12^2=144
144'nin basamakları toplamı: 9

In [25]:
n=int(input("n: "))
c=0
for i in range(1,n+1):
    c+=(i**i)
print(c)

n: 4
288

In [26]:
c=0
for i in range(1,1000):
    if(i%3==0 or i%5==0):
        c+=i
print(c)

233168

In [27]:
for i in range(1,1000):
    if((i-1)%4==0):
        print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57
61
65
69
73
77
81
85
89
93
97
101
105
109
113
117
121
125
129
133
137
141
145
149
153
157
161
165
169
173
177
181
185
189
193
197
201
205
209
213
217
221
225
229
233
237
241
245
249
253
257
261
265
269
273
277
281
285
289
293
297
301
305
309
313
317
321
325
329
333
337
341
345
349
353
357
361
365
369
373
377
381
385
389
393
397
401
405
409
413
417
421
425
429
433
437
441
445
449
453
457
461
465
469
473
477
481
485
489
493
497
501
505
509
513
517
521
525
529
533
537
541
545
549
553
557
561
565
569
573
577
581
585
589
593
597
601
605
609
613
617
621
625
629
633
637
641
645
649
653
657
661
665
669
673
677
681
685
689
693
697
701
705
709
713
717
721
725
729
733
737
741
745
749
753
757
761
765
769
773
777
781
785
789
793
797
801
805
809
813
817
821
825
829
833
837
841
845
849
853
857
861
865
869
873
877
881
885
889
893
897
901
905
909
913
917
921
925
929
933
937
941
945
949
953
957
961
965
969
973
977
981
985
989
993
997

In [29]:
import math
z=str(math.factorial(int(input("n: "))))
c=[]
v=0
for i in range(0,len(z)):
    k=int(z[i:i+1])
    v+=k
print("{}'nin basamakları toplamı: {}".format(z,v))

n: 5
120'nin basamakları toplamı: 3

In [30]:
# collatz problemi
n=int(input("n: "))
a=0
b=0
print("{}".format(n),end='')
while(a<1):
    if(n==1):
        print("\n{} iterasyon sürmüştür.".format(b))
        a=1
    else:
        if(n%2==0):
            n=int(n/2)
            b += 1
            print("->{}".format(n),end='')
        else:
            n=(3*n)+1
            b += 1
            print("->{}".format(n), end='')

n: 13
13->40->20->10->5->16->8->4->2->1
9 iterasyon sürmüştür.

In [31]:
n=int(input("n: "))
c=0
for i in range(1,n+1):
    c+=i
print(c)

n: 5
15

In [32]:
c=15
for i in range(2,2000000):
    if(i%2==0 or i%3==0 or i%5==0 or i%7==0):
        pass
    else:
        c+=i
print(c)

457143142875

In [33]:
z=0
a,b,d,e=1,2,3,0
while(z<1):
    if(d<4000000-a):
        c = a + b
        a = b
        b = c
        d=c
        if(c%2==0):
            e+=c
    else:
        z=1
print(e+2)

4613732

In [34]:
a=[2,3,5,7]
for i in range(2,10000):
    if(i%2==0 or i%3==0 or i%5==0 or i%7==0):
        pass
    else:
        a.append(i)
print(a[1923:1924])

[8401]

In [37]:
def fact(a):
    b=1
    for i in range(1,a+1):
       b*=i
    return b
x=int(input("x: "))
y=int(input("y: "))
k=(fact(x))/(fact(y)*fact(x-y))
print(int(k))

x: 5
y: 3
10

In [38]:
def fact(a):
    b=1
    for i in range(1,a+1):
       b*=i
    return b
x=int(input("x: "))
y=int(input("y: "))
k=(fact(x))/(fact(x-y))
print(int(k))

x: 5
y: 3
60

In [39]:
x=int(input("x: "))
y=0
for i in range(1,x+1):
    if(x%i==0):
        y+=1
if(x%y==0):
    print("{} sayısı bir Tau sayısıdır.".format(x))

x: 24
24 sayısı bir Tau sayısıdır.

In [40]:
for x in range(2,1000):
    y=0
    for i in range(1,x):
        if(x%i==0):
            y+=i
    if(x==y):
        print(x,end=' ')

6 28 496

In [41]:
# chen sayısı
a=[3,5]
for i in range(2,1000):
    if(i%2==0 or i%3==0 or i%5==0 or i%7==0):
        pass
    else:
        if((i+2)%2==0 or (i+2)%3==0 or (i+2)%5==0 or (i+2)%7==0):
            pass
        else:
            a.append(i)
print(a)

[3, 5, 11, 17, 29, 41, 59, 71, 101, 107, 137, 149, 167, 179, 191, 197, 209, 221, 227, 239, 251, 269, 281, 311, 317, 347, 359, 377, 389, 401, 407, 419, 431, 437, 449, 461, 479, 491, 521, 527, 557, 569, 587, 599, 611, 617, 629, 641, 647, 659, 671, 689, 701, 731, 737, 767, 779, 797, 809, 821, 827, 839, 851, 857, 869, 881, 899, 911, 941, 947, 977, 989]

In [44]:
z=[]
f=[]
for j in range(3,1000): # kaç değere kadar bakılacak
    a=str(j)            # sayıyı stringe çevirdik
    p = 0
    for k in range(0,len(a)):   # sayının hanesi kadar
        c=a[k:k+1]              # c nin içine str olarak basamakları ekliyoruz
        z.append(int(c))        # z nin içine basamakları int olarak ekliyoruz.
        for l in range(0,len(z)):   # her z elemanı için fact hesaplicaz
            b = 1
            h=z[l]
            for i in range(1,h+1): # fact hesaplama
                b *=i

        p+=b
        if(p==j):
            f.append(p)
print(f)

[145]

In [45]:
a=[2,3,5,7]
c=15
for i in range(2,1000):
    if(i%2==0 or i%3==0 or i%5==0 or i%7==0):
        pass
    else:
        a.append(i)
        c+=i
print(a)
print(c)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 121, 127, 131, 137, 139, 143, 149, 151, 157, 163, 167, 169, 173, 179, 181, 187, 191, 193, 197, 199, 209, 211, 221, 223, 227, 229, 233, 239, 241, 247, 251, 253, 257, 263, 269, 271, 277, 281, 283, 289, 293, 299, 307, 311, 313, 317, 319, 323, 331, 337, 341, 347, 349, 353, 359, 361, 367, 373, 377, 379, 383, 389, 391, 397, 401, 403, 407, 409, 419, 421, 431, 433, 437, 439, 443, 449, 451, 457, 461, 463, 467, 473, 479, 481, 487, 491, 493, 499, 503, 509, 517, 521, 523, 527, 529, 533, 541, 547, 551, 557, 559, 563, 569, 571, 577, 583, 587, 589, 593, 599, 601, 607, 611, 613, 617, 619, 629, 631, 641, 643, 647, 649, 653, 659, 661, 667, 671, 673, 677, 683, 689, 691, 697, 701, 703, 709, 713, 719, 727, 731, 733, 737, 739, 743, 751, 757, 761, 767, 769, 773, 779, 781, 787, 793, 797, 799, 803, 809, 811, 817, 821, 823, 827, 829, 839, 841, 851, 853, 857, 859, 863, 869, 871, 877, 881, 883, 887, 893, 899, 901, 907, 911, 913, 919, 923, 929, 937, 941, 943, 947, 949, 953, 961, 967, 971, 977, 979, 983, 989, 991, 997]
113726